html, body{
    background-color: #191919;
    height: 100vh
}
.vertical-center{
    display: flex;
    align-items: center;
}
.crad {
    color: white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
  }